.chatInput {
  border-radius: 20px;

  & > form {
    position: relative;
    display: flex;
    justify-content: center;

    & > input {
      position: fixed;
      bottom: 30px;
      width: 70%;
      border: 1px solid gray;
      border-radius: 4px;
      padding: 20px;
    }

    & > button {
      display: none !important;
    }
  }
}

@media (max-width: 575.98px) { 
  .chatInput {
    & > form {
      & > input {
        bottom: 0px;
        padding: 15px;
      }
    }
  }
}
